* {
	margin: 0;
	padding: 0;
}

#container { 
	width: 65.1%;
	margin-left: auto;
	margin-right: auto;
    font-family: fantasy;
}

#headertext h1 {
    float: left;
    display: inline;
    font-size: 215%;
    font-weight: bold;
}

#darkpurple,#black{
    display: inline;
}

#headertext{
    white-space: nowrap;
    float: left;
    padding-top: 4.8%;
    margin-left: 4%;
    overflow-y: hidden;
}

#black{
    font-family: fantasy;
    color: black;
}

#darkpurple {
    font-family: fantasy;
    color: rgb(61, 16, 61);
}

#head {
	background-color: rgb(158, 18, 158);
	height: 122.5px;
}

#head img {
    border: 2px solid black;
    border-radius: 5%;
    margin-top: 0.39%;
    margin-right: 5%;
    float: right;
    height: 114px;
    width: 70.4%;
}

#menu{
    float: left;
    width: 100%;
}

#bootNav {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    padding-top: 0%;
    padding-bottom: 0%;
}

#menu ul{
    width: 100%;
}

#menu ul li{
    width: 100%;
}

#menu ul li a{
    text-align: center;
    border: 1px solid rgb(158, 18, 158);
    color: white;
}

#menu ul li a:hover {
    background-color: white;
    color: black;
}

#burgur{
    background-color: rgb(158, 18, 158);
    border: 1px solid white;
}

#topbox {
    float: left;
	background-color: rgb(158, 18, 158);
	height: 95px;
}

#sitesummery{
    padding-top: 1%;
    margin-left: 4%;
    color: black;
}

#sitesumconclusion{
    margin-top: -1%;
    margin-left: 4%;
    margin-right: 4%;
    font-size: large;
    color: black;
}

#mainz {
    float:left;
    width: 100%;
}

#mainbox {
    font-size: 22.5px;
    color: rgb(158, 18, 158);
	background-color: rgb(0, 0, 0);
    padding-top: 1%;
	width: 100%;
	height: 409px;
	float: left;
}

#functiontitle{
    font-size: 30px;
}

#mainboxcontent{
    margin-left: 4%;
}

#mainboxcontent img{
    width: 36%;
    float: right;
    border: 3px solid rgb(158, 18, 158);
    margin-right: 4%;
    margin-top: 2%;
}

#figureinput,#countrys{
    width: 200px;
    font-size: medium;
}

#quantity{
    width: 196px;
    font-size: medium;
}

#calculate{
    margin-top: 1.75%;
    font-family: fantasy;
    font-size: 70%;
    color: rgb(158, 18, 158);
	background-color: white;
	border: 3px solid rgb(158, 18, 158);
	text-align: center;
	width: 11%;
	height: 30px;
}

#Output{
    display: none;
    margin-top: -25%;
    margin-right: 1%;
    float: right;
    border: 3px solid rgb(158, 18, 158);
    padding: 0.2%;
}

#feet {
    background-color: rgb(158, 18, 158);
    height: 51px;
    clear: both;
    padding-top: 1.35%;
    text-align: center;
}

#feet p{
    color: black;
}

#pageBod {
    background-image: url("Images/backgroundpicture.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
}